*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body{

}

header{
    width: 100%;
    line-height: 15vh;
    background-color: #3ed573;
}

h1{
    font-family: cursive;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 1.8rem;
    letter-spacing: 15px;
    text-shadow:  0 1px 0 #efefef,
                 0 1px 0 #efefef,
                 0 1px 0 #efefef,
                 0 1px 0 #efefef,
                0 30px 5px rgba(0,0,0,1);
}

section{
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7bed9f;
}

.gameArea{
    width: 50%;
    height: 400px;
    padding: 20px 0;
    border-radius: 15px;
    background-color: #3ed573;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 8px 6px -6px black;
    font-family: cursive;
}

.gameArea h3{
    text-align: center;
    font-size: 1.5rem;
}

.gameArea input{
    width: 40%;
    padding: 15px 0;
    text-align: center;
    border-radius: 25px;
    outline: none;
    border: none;
    background-color: #dff8fb;
    color: black;
    margin: 2rem 0;
    font-size: 1.1rem;

}

.gameArea button{
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    border: #2f3542;
    text-decoration: none;
    margin-top: 10px;
    color: #eb4d4b;
    border-radius: 25px;

    font-weight: 600;
    padding: 1rem 2rem;
    background-color: white;
    text-transform: uppercase;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.65, -0.25,0.25, 1.95);
}

.gameArea button:hover, .gameArea button:hover:focus, .gameArea button:active{
    letter-spacing: 0.125rem;
    word-spacing: 0.2rem;
}

.hidden{
    display: none;
}